<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="../styles/index.css">
    <link rel="stylesheet" type="text/css" href="../styles/login.css">
  
</head>
<body>
    <div class="p-2" class="back_button">
        <button class="rounded-2 button" id="back">
            <a href="home.html">
                <img src="../images/back.svg" class="back_img" alt="">
            </a>
        </button>
    </div>

<div class="d-flex align-items-center justify-content-center text-center" style="height: 100vh;">
    <div class="flex-column">
        <div class="row justify-content-center">
            <div class="row">
                <h1 class="title " id = "Ss">Security System</h1>
            </div>
            <div class="col-sm-5">
                <h2 class = "title " id ="login">Login</h2>
            </div>
        </div>
    
   
        <div id="home-buttons" class="container-fluid">
            <div class="row justify-content-center" >
                <form>
                    <div class = "row p-3">
                        <label class = "text"> User|Email: </label>
                        <input placeholder="Admin" class = "w-75 rounded-3"></input>
                     </div>
                    <div class = "row p-3">
                     <label class = "text">Password: </label>
                        <input placeholder="********" class = "w-75 rounded-3"></input>
                     </div>
                    <button class ="p-1 button confirm-button rounded-4 w-50 mt-5">Confirm</button>

                </form>
            </div>
            
        </div>
    </div>
</div>
</body>
</html>