#home-buttons {
    margin-top: 100px;
}

#home-buttons button {
    background-color: #3D45F5;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;

    width: 100%;
    height: 50px;
}

#home-buttons a {
    color: white;
    text-decoration: none;
}
