body {
    background-color: #08074F !important;
}

button {
    border-radius: 5px;
    border: none;
}

.title {
    color: white;
}

.sub-title{
    font-size: 150%;
}

.back_img {
    height: 70%;
    width: 70%;
}

label {
    color: white;
}

.button{
    border: none;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}

.input{
    border: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

p{
    color: white;
}

a{
    text-decoration: none;
}

.modal{
    border: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.modal-header,
.modal-body,
.modal-footer {
    border: none;
}

#menu {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

#user-icon{
    border-radius: 15px;
    padding: 0;
    position: relative;
    display: inline-block;
    background: none;
}

#welcome-message{
    font-size: 120%;
}

.online-notification{
    position: absolute;
    bottom: 58px;
    right: 60px;
    width: 15px;
    height: 15px;
    background-color: #15FF10;
    border-radius: 50%;
}

#group-name-message{
    margin-left: 10%;
    font-size: 150%;
    font-weight: bold;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 1rem;
}

.icon-container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    width: 40px;
    padding: 5px;
}

.icon {
    width: 80%;
    height: auto;
}