.back_button:hover{
    background-color:#3D45F5 ;
    
}

.back_button{
    border: none;
    position: absolute;
    left: 93%;
    top: 5%;
}

.search_bar{
    border: none;
    top: 5%;

}

#gp_img_top:hover{
    background-color:#3D45F5 ;
}

#gp_img_top{
    margin-left: 1em;
    border: none;
    background-color: white;
    height: 25px;
    width: 20;
}

#gp_img:hover{
    background-color:#3D45F5 ;
}
#gp_img{
    border: none;
    background-color: white;
    height: 40px;
    width: 40px;
}

#lupa{

    border: none;
    position: relative;
    left: 39.5em;
}

.p{
    margin-left: 1em;
    font-size: 30px;
}

#input{

    width: 40em;
}